<form id="edit-thing" name="thing">
	<textarea name="content" id="content<%= id %>" class="input-block-level" rows="10" autofocus><%= content %></textarea>
	<input type="submit" class="btn" value="Update Item">
</form>
