<h1>Edit thing</h1>

<form id="edit-thing" name="thing">
  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Thing" />
  </div>

</form>

<a href="#/index">Back</a>
