<div class="row">
<div class="span6">
<form id="new-thing" name="thing">
	<textarea name="content" id="content" class="input-block-level" rows="10"><%= content %></textarea>
	<input type="submit" class="btn" value="Add New Item">
</form>
</div>
</div>