<div class="row">
<div class="span6">
<form id="new-thing" name="thing" style="display:none;">
	<textarea name="content" id="content" class="input-block-level" rows="10"><%= content %></textarea>
	<input type="submit" class="btn" value="Add New Item">
</form>
<p><button class="btn" id="show_add_form_button">Add New Item</button></p>
</div>
</div>
<script>
$(document).ready(function() {
	$('#show_add_form_button').click(function(event) {
		$(this).parent().hide();
		$('#new-thing').fadeIn('slow');
		$('#content').focus();
	});
});
</script>