<td class="span6"><%= content %></td>
<td>
	<a href="#/<%= id %>"><i class="icon-eye-open"></i></a>
	<a href="#/<%= id %>/edit"><i class="icon-edit"></i></a>
	<a href="#/<%= id %>/destroy" class="destroy"><i class="icon-trash"></i></a>
</td>