<td class="span5"><%= content %></td>
<td><a href="#/<%= id %>"><i class="icon-eye-open"></i></td>
<td><a href="#/<%= id %>/edit"><i class="icon-edit"></i></td>
<td><a href="#/<%= id %>/destroy" class="destroy"><i class="icon-trash"></i></a></td>