<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>Grit <small>For the things that require sustained effort.</small></h1>
		</div>

		<div id="new_entry_form"></div>

		<div id="things"></div>

		<script type="text/javascript">
			$(function() {
				window.router = new Grit.Routers.ThingsRouter({things: <%= @things.to_json.html_safe -%>});
				Backbone.history.start();
			});
		</script>
	</div>
</div>
